<div class="container">

      <!--
        /
        /* Data Analysis
        /
      -->

      <div class="row">
        <section ng-controller="TabController as tabAD">
            <ul class="nav nav-pills">
              <li ng-class="{ active:tabAD.isSet(1) }">
                <a href="" ng-click="tabAD.setTab(1)">Select Data Set</a>
              </li>
              <li ng-class="{ active:tabAD.isSet(2) }">
                <a href="" ng-click="tabAD.setTab(2)">Data Analyzer</a>
              </li>
            </ul>
            <br>



            <div ng-show="tabAD.isSet(1)" class="col-sm-8 col-sm-offset-2">
              <section ng-controller="FileScanner as fsc">
                <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>File</th>
                          <th>Creation Date</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="file in files" ng-click="setSelected">
                          <td>{{ $index + 1 }}</td>
                          <td>{{ file.name }}</td>
                          <td>{{ file.date }}</td>
                      </tr>
                  </tbody>
                </table>
              </section>
            </div>

    <!-- Tab 2 -->
          <div ng-show="tabAD.isSet(2)">
            <section ng-controller="LineCtrl as line" class="col-sm-6 col-sm-offset-3">
              <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-legend="true" chart-series="series"
                chart-click="onClick">
              </canvas>
            </section>
          </div>

        </section>
        </div>
</div>

<!--
      </section>

      </div>
-->
