<div class="row">

  <div class="col-sm-10 col-sm-offset-1">

    <h3 class="text-center">Step 1</h3>

    <fieldset class="form-group">
      <label for="selectedDevice">Choose a device protocol:</label>
      <select class="form-control" ng-model="formData.device" ng-change="checkDevice()">
        <option value="dev1">Device 1</option>
        <option value="dev2">Device 2</option>
        <option value="dev3">Device 3</option>
        <option value="null"></option>
      </select>
    </fieldset>

    <br />

  </div>

  <div class="col-xs-6 col-xs-offset-5">
    <button class="btn btn-block btn-info" ng-disabled="!showStep2" ng-click="go('collect.protocol')">
        Configure Protocol
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
    <br />
  </div>

<br />
</div>
