<br />

<div ng-controller="analysisCtrlr">

  <div class="container-fluid">

      <div id="form-container">

          <div class="page-header text-center">
              <h2>Analyze Data</h2>

              <!-- the links to our nested states using relative paths -->
              <!-- add the active class if the state matches our ui-sref -->
              <div id="status-buttons" class="text-center">
                  <a ui-sref-active="active" ui-sref=".select"><span>1</span> Select Dataset(s) </a>
                  <a ui-sref-active="active" ui-sref=".plot"><span>2</span> Prepare Analysis </a>
              </div>
          </div>

          <!-- use ng-submit to catch the form submission and use our Angular function -->
          <form id="signup-form" ng-submit="createExp()">

              <!-- our nested state views will be injected here -->
              <div ui-view></div>
          </form>

      </div>
  </div>

</div>
